@inject SignInManager<ExtendedIdentityUser> SignInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

</head>
<body>
    <div class="container">        
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="list" asp-controller="home" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="home" class="nav-link">Create</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-action="CreateRoles" asp-controller="Rolemanag" class="nav-link">Create Roles</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="ListOfRoles" asp-controller="Rolemanag" class="nav-link">Role List</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="ListOfUsers" asp-controller="Rolemanag" class="nav-link">Users List</a>
                        </li>
                    }
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="LogOut" asp-controller="Account">
                                <button class="btn btn-light">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>

                    }
                    else
                    {

                        <li class="nav-item">
                            <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                        </li>


                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">LogIn</a>
                        </li>
                    }

                </ul>

            </div>
        </nav>
      
        <div >
            @RenderBody()
        </div>

        <div>
            @if (IsSectionDefined("Scripts")) { }
            @RenderSection("Scripts", required: false)
        </div>
    </div>


    

</body>
</html>
