
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <div class="text-danger">You don't have permission to access this page.</div>
        <img  class="card-img-top" src="~/images/access.png"/>
    
</div>