
@{
    ViewData["Title"] = "NotFound";
}

<h1>Not Found</h1>

<label class="control-label">Please go to index page or whatever you want to go.</label>


<a class="btn btn-light" asp-action="Index" asp-controller="Home">Back To List</a>