
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>

<div class="text-center">
    <h1><div class="text-danger">Access Denied</div></h1>
    <div class="text-danger">You don't have permission to access this page.</div>
    <div class="img-fluid">
        <img src="images/access.png"/>
    </div>
</div>