

@model  int


@{
    ViewData["Title"] = "ErrorPage";
}

<h1>Custom Error Page</h1>


<div class="row alert-danger">
    
    For Student You Looking For is Not Found On The server whose StudentID:@Model
    
    
</div>

