@model int
@{
    ViewData["Title"] = "StatusCodeHandle";
}

<h1>StatusCodeHandle</h1>

<div class="bg-danger">
    <h2>Custom Error Page</h2>
    
    
    <h3>@Model</h3>
    
    
    <h5>
        @ViewBag.ErrorMessasge
    </h5>
</div>